---
import Layout from '../layouts/Layout.astro';
import HeaderMenu from '../components/HeaderMenu.astro';
---

<Layout title="Welcome to Astro.">
	<div class="container">

		<HeaderMenu></HeaderMenu>

	</div>
</Layout>

<style>
	
</style>
